*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.top_dashboard{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.bottom_dashboard{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.compte{
    display: flex;
    border: 2px black solid;
    background-color: aqua;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
}

.agenda{
    display: flex;
    background-color: blueviolet;
    border: solid black 2px;
    
}

.rdv {
   display: flex;
  justify-content: space-between;
}

.commentaire{
    display: flex;
   background-color: brown;
   border: black 2px solid;
}

.compte, .agenda, .commentaire{
    width: 200px;
    height: 200px;
}

.mail{
    background-color: chartreuse;
    border: black 2px solid;
}

.vente{
    background-color: darkblue;
    border: black 2px solid;
}

