*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.top_dashboard{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.bottom_dashboard{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;

}
.compte{
    display: flex;
    border: 2px black solid;
    background-color: aqua;
    padding: 30px;
    margin-right: 10px;
    border-radius: 30px;
}

.compte, .description{
    display: block;
}

.infos_compte{
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    background-color: gray;
    border: black 2px solid;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px; 
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.description p{
    margin: 10px 0px; /* le 10 correspond au haut et bas et le 0 à gauche et droite*/
}

.agenda{
    display: flex;
    background-color: blueviolet;
    border: solid black 2px;
    border-radius: 30px;
   
}

.agenda, .rdv {
    display: block;
}

.planning{
    display: flex;
    justify-content: center;
}

.rdv{
    display: flex;
    justify-content: space-around;
    
}

.commentaire{
    display: flex;
    justify-content: center;
    background-color: brown;
    border: black 2px solid;
    border-radius: 30px;
}

.clients, .derniers {
    display: block;
}


.derniers{
    display: flex;
    justify-content: flex-start;
}

.mail{
    background-color: chartreuse;
    border: black 2px solid;
    border-radius: 30px;
    margin-top: 100px;
}

.vente{
    background-color: darkblue;
    border: black 2px solid;
    border-radius: 30px;
    margin-top: 100px;
}

