/* // IMPORT VARIABLE CSS */
@import "_variables.css";

/* // IMPORT COMPOSANT CSS */

@import "navBarV2.css";
@import "loginForm.css";
@import "registrerForm.css";
@import "dashBoardUser.css";
@import "frontDashBoard.css";
@import "options.css";
@import "dashBoardGestionMagasin.css";
@import "editDashBoard.css";
@import "mailInterne.css";

/* // */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e8e8E8;
    overflow: hidden;
}

main {
    width: 100vw;
    max-width: 1300px;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: rgb(35, 35, 79);
}

h5 {
    color: rgb(35, 35, 79);
    font-size: 1.1em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    z-index: 10;
    height: 40px;
    width: 140px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(42, 42, 93);
    border: 0.5px solid rgb(42, 42, 93);
    cursor: pointer;
}

.alert_container {
    position: absolute;
    z-index: 9999;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* MAIN CONTAINER ALL PAGE */

.dashBoard_admin,
.dashBoard_user,
.options_user,
.gestionMagasinBoard,
.edit_container,
.mail_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
}

.annonce_container,
.planning_container,
.cp_container,
.heure_container,
.options_container,
.navGestionMagasin,
.contentGestionMagasin,
.card_left_container,
.card_right_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 15px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* //OVERLAY DARK THEME CSS */

.overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
}

.overlay_2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    border-radius: 10px;
    background-color: rgb(22, 24, 28);
}

/* //Dark Theme CSS */

.dark_theme_for_body {
    position: relative;
    z-index: 0;
}

.dark_theme_for_container {
    position: relative;
    z-index: 4;
    border: 0.5px solid rgb(47, 51, 54);
}

.dark_theme_for_content {
    color: #e8e8E8;
    position: relative;
    z-index: 6;
}

.dark_theme_for_separation {
    background-color: #e8e8E8;
    position: relative;
    z-index: 6;
}

.dark_theme_for_annonce_ul_1 {
    background-color: #e8e8E8;
}

.dark_theme_for_annonce_ul_2 {
    border: #e8e8E8;
    background-color: transparent;
}

.dark_theme_for_annonce_li {
    color: black;
}

.dark_theme_for_th_and_td {
    color: white;
}

.dark_theme_for_input {
    background-color: rgb(170, 170, 170);
}

.dark_theme_for_profil_a {
    z-index: 16;
    color: white;
}

.dark_theme_for_profil_container {
    position: absolute;
    z-index: 15;
    background-color: black;
}