/* // IMPORT COMPOSANT CSS */

@import "navBarV2.css";
@import "loginForm.css";
@import "registrerForm.css";
@import "dashBoardUser.css";
@import "frontDashBoard.css";

/* // */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: blue;
}

li {
    list-style-type: none;
}

/* .dark_theme {
    background-color: rgb(18, 18, 18);
}

.medium_theme {
    background-color: rgba(18, 18, 18, 0.5);
} */

/* //OVERLAY DARK THEME CSS */

.overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(18, 18, 18, 0.9);
}

.overlay_2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.85);
}

.overlay_3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.80);
}