/* // IMPORT COMPOSANT CSS */

@import "navBarV2.css";
@import "loginForm.css";
@import "registrerForm.css";
@import "dashBoardUser.css";
@import "frontDashBoard.css";

/* // */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    color: blue;
}

li {
    list-style-type: none;
}

.alert_container {
    position: absolute;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //OVERLAY DARK THEME CSS */

.overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
}

.overlay_2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    border-radius: 10px;
    background-color: rgb(22, 24, 28);
}

/* //Dark Theme CSS */

.dark_theme_for_body {
    position: relative;
    z-index: 0;
}

.dark_theme_for_container {
    position: relative;
    z-index: 4;
    border: 0.5px solid rgb(47, 51, 54);
}

.dark_theme_for_content {
    color: #e8e8E8;
    position: relative;
    z-index: 6;
}

.dark_theme_for_separation {
    background-color: #e8e8E8;
    position: relative;
    z-index: 6;
}

.dark_theme_for_annonce_ul_1 {
    background-color: #e8e8E8;
}

.dark_theme_for_annonce_ul_2 {
    border: #e8e8E8;
    background-color: transparent;
}

.dark_theme_for_annonce_li {
    color: black;
}

.dark_theme_for_th_and_td {
    color: white;
}