nav {
    position: absolute;
    width: 100vw;
    background-color: var(--main-color);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 15px 15px 10px 15px;
}

nav .separation_bar {
    width: 80%;
    height: 0.5px;
    margin: auto;
    margin-top: 5px;
}

nav a {
    color: #e8e8e8;
}

.logo_container {
    width: 130px;
}

.navList_container ul {
    display: flex;
}

.navList_container ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    font-weight: 500;
    cursor: pointer;
}

.navList_container ul li::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    margin-top: 3px;
    background-color: #e8e8e8;
    transition: width 300ms ease-in-out;
}

.navList_container ul li:hover::after {
    width: 95%;
}

.right_nav_container {
    display: flex;
}

.right_nav_container svg {
    margin: 0px 5px;
    color: #e8e8e8;
}

.sunSVG {
    display: none;
    opacity: 0;
    transition: opacity 300ms ease;
}

.moonSVG {
    opacity: 1;
    transition: opacity 300ms ease;
}

.active1SVG {
    opacity: 1;
}

.active2SVG {
    opacity: 0;
}

.profil_options_content {
    position: absolute;
    z-index: 9999;
    top: 60px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transform: translateX(150px);
    transition: opacity 500ms ease-in-out, transform 400ms ease-in-out;
}

.active_options {
    opacity: 1;
    transform: translateX(0px);
}

.profil_options svg {
    transition: transform 300ms ease-in-out;
}

.active_profil_effect {
    transform: scale(1.1);
}

nav .profil_options_content a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    color: rgb(35, 35, 79);
}

nav .profil_options_content a:hover {
    background-color: #e8e8E8;
}

nav .profil_options_content a svg {
    margin-left: 10px;
    color: rgb(35, 35, 79);
}