.form_options {
    display: flex;
    flex-direction: column;
}

.form_options label {
    margin-top: 10px;
}

.form_options input {
    margin-bottom: 10px;
}

.form_options button {
    width: fit-content;
    padding: 5px 20px;
}